@font-face {
  font-family: 'Palatino';
  src: url('../fonts/palatino/palatino-regular.eot');
  src: url('../fonts/palatino/palatino-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palatino/palatino-regular.woff') format('woff'),
       url('../fonts/palatino/palatino-regular.ttf')  format('truetype'),
       url('../fonts/palatino/palatino-regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Futura-Light-Bt';
  src: url('../fonts/futura/futura-light-bt.ttf')  format('truetype');
}
